{{#markdown }}

<h3 id="head-touchicons">Apple-touch icons</h3>

<p>Have a designer create touch icons for your site. That way your bookmark will look pretty when mobile users place it on their home screens. You should  use this snippet instead of placing the files in the document root:</p>

<pre data-rel="html" class="prettyprint lang-html"><code>
&lt;!-- For non-Retina iPhone, iPod Touch, and Android 2.1+ devices: --&gt;
&lt;link rel=&quot;apple-touch-icon-precomposed&quot; href=&quot;apple-touch-icon-precomposed.png&quot;&gt;
&lt;!-- For first- and second-generation iPad: --&gt;
&lt;link rel=&quot;apple-touch-icon-precomposed&quot; sizes=&quot;72x72&quot; href=&quot;apple-touch-icon-72x72-precomposed.png&quot;&gt;
&lt;!-- For iPhone with high-resolution Retina display: --&gt;
&lt;link rel=&quot;apple-touch-icon-precomposed&quot; sizes=&quot;114x114&quot; href=&quot;apple-touch-icon-114x114-precomposed.png&quot;&gt;
&lt;!-- For third-generation iPad with high-resolution Retina display: --&gt;
&lt;link rel=&quot;apple-touch-icon-precomposed&quot; sizes=&quot;144x144&quot; href=&quot;apple-touch-icon-144x144-precomposed.png&quot;&gt;
</code></pre>

<p>Note: if your filename and rel-attribute ends in -precomposed, iOS will not put its fancy gloss over your icon. Read more over at <a data-reference="true" href="http://mathiasbynens.be/notes/touch-icons#sizes">Mathias Bynens</a> or straight from <a data-reference="true" href="https://developer.apple.com/library/safari/documentation/UserExperience/Conceptual/MobileHIG/IconsImages/IconsImages.html">Apple</a>.</p>

{{/markdown }}