{{#markdown }}

###Browser Matrix

The typical NA/EU  Brower at Sapient matrix looks like this:

####Windows XP / Vista / Windows 7/8

<table class="browsers plain-table"  border="0">
	<tbody>
		<tr>
			<th width="180">Internet Explorer</th>
  			<td width="710">8.0* -10.0</td>
		</tr>
		<tr>
			<th width="180">Firefox</th>
  			<td>Latest stable</td>
  		</tr>

  		<tr>
  			<th width="180">Chrome </th>
  			<td>Latest stable</td>
  		</tr>
  		<tr>
  			<th width="180">Safari</th>
  			<td>no longer supported&nbsp;</td>
  		</tr>
  	</tbody>
</table>

####Mac OS 10.6 - Latest Stable

<table class="browsers plain-table" border="0">
	<tbody>
		<tr>
			<th width="180">Firefox</th>
			<td>Latest stable</td>
		</tr>
		<tr>
      		<th width="180">Chrome </th>
      		<td>Latest stable</td>
      	</tr>
      	<tr>
      		<th width="180">Safari</th><td>5†</td>
      	</tr>
    </tbody>
</table>

Note that based on the client's analytics, sometimes legacy browsers such as Firefox 4.0 might need to be supported. A conversation around this should happen if current usage on the specific site is above 3% for a specific browser and not projected to drop below that until the go live date of the site or if specific business reasons demand support.

You might also consider a graded approach like described in [Yahoo’s graded browser support](http://yuilibrary.com/yui/docs/tutorials/gbs).

{{/markdown }}