{{#markdown }}

<a id="head-encoding" aria-hidden="true"></a>

### Character Encoding:

Use UTF-8 to encode your files, and declare it by placing

<pre data-rel="html" class="prettyprint lang-html"><code>
&lt;meta charset=&quot;utf-8&quot;&gt;
</code></pre>

right after your `<head>`-tag (Really - place it right behind it to avoid re-rendering in IE).

Unless you chose XHTML (see above - why did you choose it again?) - then you have to use

<pre data-rel="html" class="prettyprint lang-html"><code>
&lt;meta http-equiv=&quot;Content-Type&quot; content=&quot;text/html; charset=UTF-8&quot; /&gt;
</code></pre>
{{/markdown }}