{{#markdown }}
<h3 id="comments">Comments</h3>

Comments are the lifeblood of a successful development environment. It's a vital communication channel for developers separated by both time and geography.

More information about commenting style can be found in the HTML, CSS and JavaScript sections.
{{/markdown}}