{{#markdown }}
<h3 id="head-favicon">Favicon</h3>
<p>
  Have a designer create a favicon for any site you're working on. It's just part of doing it right&trade;. Your Favicon should have an .ico extension and include a 32x32px and 16x16px version. Read more over at <a data-reference="true" href="http://www.html-kit.com/support/favicon/image-size/">html-kit</a> or <a data-reference="true" href="http://mathiasbynens.be/notes/rel-shortcut-icon">Mathias Bynens</a>.
</p>
<p>
  Your Favicon should sit in the root folder - that way you don't need a <code>&lt;link rel=&quot;icon shortcut&quot; href=&quot;&quot;/&gt;</code> in your html. If you have to put the favicon in a different folder, create a redirect rule for it.
</p>
{{/markdown }}