<!DOCTYPE html>                                         
                                                      <!--[if lt IE 7]>
<html lang="en" class="no-js lt-ie9 lt-ie8 lt-ie7">   <![endif]--><!--[if IE 7]>
<html lang="en" class="no-js lt-ie9 lt-ie8">          <![endif]--><!--[if IE 8]>
<html lang="en" class="no-js lt-ie9">                 <![endif]--><!--[if gt IE 8]><!--> 
<html lang="en" class="no-js">                        <!--<![endif]-->
<head>
  <meta charset="utf-8">
  <title>Sapient Global Interactive Dev Standards</title>

  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <meta name="description" content="Sapient Front End Developers use these to work together smoothly, across geographies and on large scale projects. Not necessarily the only way to do things right when it comes to HTML/CSS/JS/Processes, but it works well for us." />
  <meta name="google-site-verification" content="zJfA8m1SUdIU5TDrULJOEstqsFXtBdbdbPUYPlKq40I" />
  
  <link rel="shortcut icon" href="{{assets}}/images/favicon.ico" />
  <link rel="icon" href="{{assets}}/images/favicon.ico" />

  <link rel="stylesheet" href="{{assets}}/stylesheets/all.combined.min.css" type="text/css" />
</head>
<body class="row">