{{#markdown }}

<h2 id="head">HTML</h2>

When creating text/html, all you need is a Document Type Declaration or short doctype to trigger standards mode.

<pre data-rel="html" class="prettyprint lang-html">
	<code>
		<!DOCTYPE html>
	</code>
</pre>

{{/markdown}}