{{#markdown }}

<a id="head" aria-hidden="true"></a>

## HTML

When creating text/html, all you need is a Document Type Declaration or short doctype to trigger standards mode.

<pre data-rel="html" class="prettyprint lang-html"><code>
&lt;!DOCTYPE html&gt;
</code></pre>

{{/markdown}}