{{#markdown }}

<h3 id="head-html5">HTML(5)</h3>

At Sapient, we write HTML5 code, unless there is a very specific need to use XHTML.

When you write any HTML, it has to be:
    

- HTML5 DTD-less DOCTYPE and case-insensitive.
- Well-formed and generally valid (You must use a validator!). No funky nesting.
- Slim - no unnecessary bloating or extra containers around containers around containers.
- Separated from presentation (CSS) and behavior (JS).
- Implemented using the right tags. Further reading here: [right (semantic) tags](http://www.bbc.co.uk/guidelines/futuremedia/technical/semantic_markup.shtml) &trade; (some call it semantics).

Note: HTML5 can written as valid XML, but unlike XHTML it is an option and not a requirement.
{{/markdown}}