{{#markdown }}

<h3 id="head-including-css-js">Including CSS and JS</h3>

<p>Before you can get started with CSS and JavaScript you need to get them onto the page. This section outlines the best practices surrounding this common and important task.</p>

<h4 id="markup-syntax-semantics-includes-css">Including CSS</h4>

<p>For including CSS use <code>&lt;link&gt;</code> and not <code>@import</code> <a data-reference="true" href="http://www.stevesouders.com/blog/2009/04/09/dont-use-import/">as a standard</a>. This is an important performance consideration.</p>

<p>Here is an example of the correct way to link a stylesheet:</p>

<pre data-rel="HTML" class="prettyprint lang-html"><code>
&lt;link rel=&quot;stylesheet&quot; type=&quot;text/css&quot; href=&quot;yourStylesheetName.css&quot; /&gt;
</code></pre>

<p>CSS files should always be included in the HEAD of the document. Again, this is important from a performance perspective. This is especially important when you consider the perceived performance of a page. With the CSS rules in place before the body element is reached the browser is able to go about the important task of rendering your markup as early as possible.</p>

<p>For more information on CSS please see our <a href="#css">CSS Standards</a>.</p>

<h4 id="markup-syntax-semantics-includes-js">Including JS</h4>

<p>For including Javascript use <code>a &lt;script&gt; element.</code></p>

<p>Here is an example of the correct way to include js:</p>

<pre data-rel="HTML 5" class="prettyprint lang-html"><code>
&lt;script src=&quot;yourJavascript.js&quot;&gt;&lt;/script&gt;</code></pre>

<pre data-rel="HTML 4.01" class="prettyprint lang-html"><code>
&lt;script type=&quot;text/javascript&quot; src=&quot;yourJavascript.js&quot;&gt;&lt;/script&gt;</code></pre>

<p>The type attribute that is required in required in HTML 4, is an optional attribute in HTML5.</p>

<p>JS files should always be included near the END of a document, unless there is specific reason for importing elsewhere in the document. This is to maximize page performance. Keep the number of JS files to a minimum and avoid inline-JS (unless you know why it might be ok, don't do it)</p>

<p>For more information on JS please see our <a href="#javascript">Javascript Standards</a>.</p>

{{/markdown }}