<nav role="navigation">
  <h2>Table of contents</h2>
  <div class="row l-slice">
    <ul class="nav-list">
      <li><a href="#introduction">Introduction</a></li>
      <li>
        <a href="#general">General Stuff</a>
      </li>
      <li>
        <a href="#head">HTML</a>
      </li>
      <li>
        <a href="#css">CSS</a>
      </li>
      <li>
        <a href="#javascript">JavaScript</a>
      </li>
      <li>
        <a href="#accessibility">Accessibility</a>
      </li>
      <li>
        <a href="#responsive-design">Responsive Design</a>
      </li>
      
      <li><a href="#credits">Credits</a></li>
      <!--li><a href="#footnotes">External links</a></li-->
    </ul>
  </div>
</nav>