{{#markdown }}
<h3 id="head-title">`<title>`</h3>

Keep the text of your `<title>`-tag short and relevant. Make sure it's unique to the current page. It's what visitors from Search engines will see as the big blue link you want them to click on, so it better be sexy, too!

{{/markdown }}