{{#markdown }}
<h3 id="recommendations-validation">Validation</h3>

A reasonable effort should be made to write code that passes validation services and linters. There are exceptions created by third party libraries or by certain back-end systems, but you, as a developer, are responsible for creating standards based, valid HMTL, CSS and JS code.
{{/markdown}}