---
authors:
  - 'Gerhard Schoder'
  - 'Rob Larsen'
  - 'Jon Mittlebronn'
  - 'Ryan Fitzer'
  - 'Holger Hellinger'
  - 'Niklas Zillinger'
  - 'Sailesh Raghavan'
  - 'Kumar Gaurav'
  - 'Venkat R Iyer'
  - 'Thomas Cowell'
  - 'Matt Dales'
  - 'Joe Morgan'
  - 'Ryan Mitchell'
  - 'Cesar Perez'
---

{{> header}}
<div class="twelve columns l-document row">
  <header>
    <img src="{{assets}}/images/logo.jpg" class="logo" alt="SapientNitro Logo"/>
    <h1>Sapient Global Interactive Dev Standards</h1>
    {{> nav}}
  </header>

  <main role="main">

    {{> introduction.md}}

    {{> general.md}}

    {{> validation.md}}

    {{> comments.md}}

    {{> browserMatrix.md}}

    {{> html.md}}

    {{> html5.md}}

    {{> charachterEncoding.md}}

    {{> htmltag.md}}

    {{> htmlcomments.md}}

    {{> conditionalcomments.md}}

    {{> title.md}}

    {{> metatags.md}}

    {{> including.md}}

    {{> favicon.md}}

    {{> appletouch.md}}

    {{> together.md}}

    {{> depricated.md}}

    {{> css.md}}

    {{> js.md}}

    {{> a11y.md}}

    {{> rwd.md}}

    <h2 id="credits">Credits</h2>
    <p>This document is a joint effort by</p>
    <ul>
      {{#each authors}}
        <li>{{this}}</li>
      {{/each}}
    </ul>
  </main>
{{> footer}}